<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="releases">
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
  </location>
  <system.webServer>
    <staticContent>
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
        <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
    </staticContent>
    <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>
